* {
    padding:0;
    margin:0;
}
nav a, ul{
display: flex ;
flex-direction: row ;
flex-wrap: wrap ;
justify-content: space-around ;
align-items: center ;
align-content: center ;
list-style-type: none;
font-size: larger;
}
a {
    text-decoration: none;
    color: black;
}
nav {background:red;}
body {background:orange;}